@import url("./button.css");
@import url("./layout.css");

@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer components {
  ::selection, ::-moz-selection {
    @apply bg-pink-500 text-black;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1em;
}

p,
li,
span {
  text-wrap: pretty;
  line-height: 1.5em;
}
