@import url("./container.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 63% 97%;
    --foreground: 0 0% 3.9%;
    --card: 204 63% 97%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --text--2: clamp(0.5628rem, 0.7321rem + -0.1881vw, 0.6944rem);
    --text--1: clamp(0.7502rem, 0.8571rem + -0.1188vw, 0.8333rem);
    --text-0: clamp(1rem, 1rem + 0vw, 1rem);
    --text-1: clamp(1.2rem, 1.162rem + 0.19vw, 1.333rem);
    --text-2: clamp(1.44rem, 1.3437rem + 0.4813vw, 1.7769rem);
    --text-3: clamp(1.728rem, 1.545rem + 0.9151vw, 2.3686rem);
    --text-4: clamp(2.0736rem, 1.764rem + 1.5482vw, 3.1573rem);
    --text-5: clamp(2.4883rem, 1.9968rem + 2.4577vw, 4.2087rem);
    --text-6: clamp(2.986rem, 2.2362rem + 3.7489vw, 5.6102rem);
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1em;
  text-wrap: balance;
  margin-bottom: 1rem;
  font-family: var(--font-urbanist);
}

p,
li,
span {
  text-wrap: pretty;
}

h1,
.h1 {
  font-size: var(--text-6);
}

h2,
.h2 {
  font-size: var(--text-5);
}

h3,
.h3 {
  font-size: var(--text-4);
}

h4,
.h4 {
  font-size: var(--text-3);
}

h5,
.h5 {
  font-size: var(--text-2);
}

h6,
.h6 {
  font-size: var(--text-1);
}


section {
  position: relative;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.before-bar::before {
  content: "";
  height: 1px;
  width: calc(100% + 60px + 20px);
  transform: translateX(-40px);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.before-bar::after {
  content: "";
  height: 1px;
  width: calc(100% + 60px + 20px);
  transform: translateX(-40px);
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

.custom-inner-shadow {
  -webkit-box-shadow: inset 0px 0px 80px 40px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 80px 40px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 80px 40px rgba(255,255,255,1);
}