:root {
  --radius: 0.65rem;
  --background: rgb(255, 255, 255);
  --foreground: rgb(9, 9, 11);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(9, 9, 11);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(9, 9, 11);
  --primary: rgb(43, 127, 255);
  --primary-foreground: rgb(239, 246, 255);
  --secondary: rgb(244, 244, 245);
  --secondary-foreground: rgb(24, 24, 27);
  --muted: rgb(244, 244, 245);
  --muted-foreground: rgb(113, 113, 123);
  --accent: rgb(244, 244, 245);
  --accent-foreground: rgb(24, 24, 27);
  --destructive: rgb(231, 0, 11);
  --border: rgb(228, 228, 231);
  --input: rgb(228, 228, 231);
  --ring: rgb(43, 127, 255);
}